.create-transition(){
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


@position: 250px;
@fullsize: 100%;


#map {
  height: 100vh;
  width: @fullsize;
}


#wrapper {
    padding-left: 0;
    .create-transition();
}



#page-content-wrapper {
    width: @fullsize;
      .mapcontainer {
        padding: 0;
      }
}

@media(min-width:768px) {

    #wrapper {
        padding-left: @position;
    }

}
