<div id="sidebar-wrapper">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
             <input type="text"
              ng-model="address"
              placeholder="Type address"
              typeahead="location.address for location in getAddress($viewValue)"
              typeahead-loading="loadingLocations"
              typeahead-on-select = "onAddressSelect($item,$mode,$label)"
              typeahead-wait-ms = '100'
              class="form-control">
      </div>
</div>
